.vscode
*.so
*.o
*.log
*.tmp
# *.a
./benchmark/
./build/
build/
./dumps/
dumps/
bin/
./bin/
././bin/
./lib/
././lib/
lib/
out/
././dumps/
obj/
./obj/
././obj/
./build-*/
build/
./build/
./.vscode/
.vscode/
*.exe
*.dll
*.pdb
*.class         
build/
bin/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
*.o
*.o.d
.vscode/
*.swp
*~